TOPIC: String Based Assignment Problem

1. Write a program to reverse a string.

In [1]:
s = "rishabh"

In [2]:
s[::-1]

'hbahsir'

2. Check if a string is a palindrome.

In [6]:
s = input()
if s == s[::-1]:
    print("Pallindrome")
else:
    print("Not a pallindrome")

 tenet

Pallindrome

3. Convert a string to uppercase.

In [7]:
s = "rishabh"

In [8]:
s.upper()

'RISHABH'

4. Convert a string to lowercase.

In [11]:
s = "SINGH"

In [12]:
s.lower()

'singh'

5. Count the number of vowels in a string.

In [16]:
s = "I want to be a Data Scientist"
p = s.count("a")
q = s.count("e")
r = s.count("i")
x = s.count("o")
y = s.count("u")
print("Count of vowel a in", s, "is:", p)
print("Count of vowel e in", s, "is:", q)
print("Count of vowel i in", s, "is:", r)
print("Count of vowel o in", s, "is:", x)
print("Count of vowel u in", s, "is:", y)

Count of vowel a in I want to be a Data Scientist is: 4
Count of vowel e in I want to be a Data Scientist is: 2
Count of vowel i in I want to be a Data Scientist is: 2
Count of vowel o in I want to be a Data Scientist is: 1
Count of vowel u in I want to be a Data Scientist is: 0

7. Remove all whitespaces from a string.

In [92]:
s = "I want to be a Data Scientist"

In [23]:
s.replace(" ", "")

'IwanttobeaDataScientist'

8. Find the length of a string without using the `len()` function.

In [93]:
s = "I want to be a Data Scientist"

In [94]:
s

'I want to be a Data Scientist'

In [95]:
count = 0
for i in s:
    count = count + 1
print("The length of given string",s,"is: ", count)

The length of given string I want to be a Data Scientist is:  29

9. Check if a string contains a specific word.

In [28]:
s

'I want to be a Data Scientist'

In [29]:
"Data" in s

True

10. Replace a word in a string with another word.

In [30]:
s

'I want to be a Data Scientist'

In [31]:
s.replace("Data Scientist", "ML Engineer")

'I want to be a ML Engineer'

11. Count the occurrences of a word in a string.

In [33]:
s = "I thought a thought. But the thought I thought wasn't the thought I thought I thought"

In [34]:
s.count("thought")

7

12. Find the first occurrence of a word in a string.

In [35]:
s

"I thought a thought. But the thought I thought wasn't the thought I thought I thought"

In [36]:
s.find("thought")

2

13. Find the last occurrence of a word in a string.

In [37]:
s

"I thought a thought. But the thought I thought wasn't the thought I thought I thought"

In [38]:
s.rfind("thought")

78

14. Split a string into a list of words.

In [39]:
s = "If,you,can,dream,it,you,can,build,it"

In [40]:
s.split(",")

['If', 'you', 'can', 'dream', 'it', 'you', 'can', 'build', 'it']

15. Join a list of words into a string.

In [41]:
s = "I thought a thought. But the thought I thought wasn't the thought I thought I thought"

In [45]:
b = s.replace(" ", "")

In [46]:
b

"Ithoughtathought.ButthethoughtIthoughtwasn'tthethoughtIthoughtIthought"

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [47]:
s

"I thought a thought. But the thought I thought wasn't the thought I thought I thought"

In [48]:
s.replace(" ","_")

"I_thought_a_thought._But_the_thought_I_thought_wasn't_the_thought_I_thought_I_thought"

17. Check if a string starts with a specific word or phrase.

In [50]:
s = "If you can dream it, you can build it"

In [51]:
s.startswith("If")

True

18. Check if a string ends with a specific word or phrase.

In [52]:
s.endswith("build it")

True

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [53]:
s

'If you can dream it, you can build it'

In [54]:
s.title()

'If You Can Dream It, You Can Build It'

20. Find the longest word in a string.

In [55]:
s

'If you can dream it, you can build it'

In [60]:
b = s.split(" ")

In [63]:
b

['If', 'you', 'can', 'dream', 'it,', 'you', 'can', 'build', 'it']

In [66]:
len(b)

9

21. Find the shortest word in a string.

22. Reverse the order of words in a string.

In [67]:
s

'If you can dream it, you can build it'

In [69]:
s.split()[::-1]

['it', 'build', 'can', 'you', 'it,', 'dream', 'can', 'you', 'If']

23. Check if a string is alphanumeric.

In [125]:
s = "Nov@#0311"

In [126]:
s.isalnum()

False

24. Extract all digits from a string.

In [82]:
s = "0311"
s.isdigit()

True

25. Extract all alphabets from a string.

26. Count the number of uppercase letters in a string.

In [83]:
s = "I want to be a Data Scientist"

27. Count the number of lowercase letters in a string.

28. Swap the case of each character in a string.

In [91]:
s

'I want to be a Data Scientist'

In [92]:
s.swapcase()

'i WANT TO BE A dATA sCIENTIST'

29. Remove a specific word from a string.

In [93]:
s

'I want to be a Data Scientist'

In [96]:
s.replace("be", "")

'I want to  a Data Scientist'

30. Check if a string is a valid email address.

In [99]:
s = "rish@gmail.com"
a = input("Enter the email adress:")
if a == s:
    print("Valid email address")
else:
    print("Invalid email address")

Enter the email adress: djfbl

Invalid email address

31. Extract the username from an email address string.

In [100]:
s

'rish@gmail.com'

In [101]:
s[0:4]

'rish'

32. Extract the domain name from an email address string.

In [102]:
s

'rish@gmail.com'

In [103]:
s[5:]

'gmail.com'

33. Replace multiple spaces in a string with a single space.

In [104]:
s = "I want to be a Data Scientist"

In [105]:
s.replace(" ","    ")

'I    want    to    be    a    Data    Scientist'

34. Check if a string is a valid URL.

In [106]:
s = "https://lemon-analyst-iwnxi.pwskills.app/lab/tree/work/Untitled.ipynb"

35. Extract the protocol (http or https) from a URL string.

36. Find the frequency of each character in a string.

In [112]:
s = "agbsfkjdsnlgbmdfbhsfgduywe"

In [116]:
s.("s")

3

37. Remove all punctuation from a string.

In [121]:
s = "Hello_World!"

In [124]:
s = s.replace("_"," ")
s = s.replace("!"," ")
s

'Hello World '

38. Check if a string contains only digits

In [128]:
s = "873058346"

In [129]:
s.isdigit()

True

39. Check if a string contains only alphabets.

In [130]:
s = "November"

In [131]:
s.isalpha()

True

40. Convert a string to a list of characters.

In [134]:
s = "Rishabh"

In [135]:
list(s)

['R', 'i', 's', 'h', 'a', 'b', 'h']

41. Check if two strings are anagrams.

In [140]:
a = "knee"
b = "keen"
sorted(a) == sorted(b)

True

42. Encode a string using a Caesar cipher.

43. Decode a Caesar cipher encoded string.

44. Find the most frequent word in a string.

In [165]:
s = "I thought a thought. But the thought I thought wasn't the thought I thought I thought"

In [142]:
s.max("thought")

AttributeError: 'str' object has no attribute 'max'

45. Find all unique words in a string.

In [166]:
s

"I thought a thought. But the thought I thought wasn't the thought I thought I thought"

In [167]:
s.split()

['I',
 'thought',
 'a',
 'thought.',
 'But',
 'the',
 'thought',
 'I',
 'thought',
 "wasn't",
 'the',
 'thought',
 'I',
 'thought',
 'I',
 'thought']

In [168]:
set(s.split())

{'But', 'I', 'a', 'the', 'thought', 'thought.', "wasn't"}

46. Count the number of syllables in a string.

In [153]:
s

"I thought a thought. But the thought I thought wasn't the thought I thought I thought"

In [156]:
len(s)

85

47. Check if a string contains any special characters.

In [1]:
s = "Nov@#0311"

In [5]:
s.find("@#")

3

48. Remove the nth word from a string.

In [16]:
s = "I want to be a Data Scientist"

In [17]:
b = s[-1].format()

In [18]:
b

't'

In [19]:
s

'I want to be a Data Scientist'

We can't remove anything from the string as it is immuttable

49. Insert a word at the nth position in a string.

We can't add or insert anything from the string as it is immuttable

50. Convert a CSV string to a list of lists.

List Based Practice Problem :

1. Create a list with integers from 1 to 10.

In [21]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [42]:
l = [1,2,3,4,5,6,8]

In [33]:
c = 0
for i in l:
    c = c +1
    
print(c)

7

3. Append an element to the end of a list.

In [34]:
l

[1, 2, 3, 4, 5, 6, 8]

In [35]:
l.append("rish")

In [36]:
l

[1, 2, 3, 4, 5, 6, 8, 'rish']

4. Insert an element at a specific index in a list.

In [43]:
l

[1, 2, 3, 4, 5, 6, 8]

In [44]:
l.insert(3,778)

In [45]:
l

[1, 2, 3, 778, 4, 5, 6, 8]

5. Remove an element from a list by its value.

In [46]:
l

[1, 2, 3, 778, 4, 5, 6, 8]

In [47]:
l.remove(4)

In [48]:
l

[1, 2, 3, 778, 5, 6, 8]

6. Remove an element from a list by its index.

In [58]:
l = [1,2,3,4,5,6,8]

In [59]:
l.pop(5)

6

In [60]:
l

[1, 2, 3, 4, 5, 8]

7. Check if an element exists in a list.

In [61]:
l

[1, 2, 3, 4, 5, 8]

In [62]:
78 in l

False

8. Find the index of the first occurrence of an element in a list.

In [65]:
l = [12,3,4,5,6,7,8,76,5,4,3,5,6,7,5,4]

In [66]:
l.index(6)

4

9. Count the occurrences of an element in a list.

In [67]:
l = [12,3,4,5,6,7,8,76,5,4,3,5,6,7,5,4]

In [68]:
l.count(5)

4

10. Reverse the order of elements in a list.

In [69]:
l

[12, 3, 4, 5, 6, 7, 8, 76, 5, 4, 3, 5, 6, 7, 5, 4]

In [70]:
l.reverse()

In [71]:
l

[4, 5, 7, 6, 5, 3, 4, 5, 76, 8, 7, 6, 5, 4, 3, 12]

11. Sort a list in ascending order.

In [72]:
l = [12,3,4,5,6,7,8,76,5,4,3,5,6,7,5,4]

In [73]:
l.sort()

In [74]:
l

[3, 3, 4, 4, 4, 5, 5, 5, 5, 6, 6, 7, 7, 8, 12, 76]

12. Sort a list in descending order.

In [75]:
l = [12,3,4,5,6,7,8,76,5,4,3,5,6,7,5,4]

In [76]:
l.sort(reverse = True)

In [77]:
l

[76, 12, 8, 7, 7, 6, 6, 5, 5, 5, 5, 4, 4, 4, 3, 3]

13. Create a list of even numbers from 1 to 20.

In [81]:
l = list(range(1,21))

In [82]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [88]:
l1 = []
for i in l:
    if i%2 == 0:
        l1.append(i)

In [89]:
l1

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [90]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [91]:
l1 = []
for i in l:
    if i%2 != 0:
        l1.append(i)

In [92]:
l1

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [93]:
l = [1,2,3,4,5]

In [94]:
sum(l)

15

16. Find the maximum value in a list.

In [95]:
l = [12,3,4,5,6,7,8,76,5,4,3,5,6,7,5,4]

In [96]:
max(l)

76

17. Find the minimum value in a list.

In [97]:
l = [12,3,4,5,6,7,8,76,5,4,3,5,6,7,5,4]

In [98]:
min(l)

3

18. Create a list of squares of numbers from 1 to 10.

In [101]:
l = list(range(1,11))

In [103]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [108]:
l1 = []
for i in l:
    l1.append(i**2)

In [109]:
l1

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [110]:
l = [231,5,6,867,9,34,312,4,3467,9,32,3,12,3,57,76,987,4]

In [111]:
l

[231, 5, 6, 867, 9, 34, 312, 4, 3467, 9, 32, 3, 12, 3, 57, 76, 987, 4]

20. Remove duplicates from a list.

In [112]:
l = [12,3,4,5,6,7,8,76,5,4,3,5,6,7,5,4]

In [114]:
l1 = list(set(l))

In [115]:
l1

[3, 4, 5, 6, 7, 8, 12, 76]

21. Find the common elements between two lists.

In [131]:
l1 = [1,2,3,4,5]
l2 = [3,4,5,6,7]

In [133]:
l3 = l1 +l2

In [135]:
s = set(l3)

In [136]:
s

{1, 2, 3, 4, 5, 6, 7}

In [139]:
for s in l2:
    print(s)

3
4
5
6
7

In [ ]:
22. Find the difference between two lists.

23. Merge two lists.

In [140]:
l1 = [1,2,3,4,5]
l2 = [3,4,5,6,7]

In [141]:
l1 + l2

[1, 2, 3, 4, 5, 3, 4, 5, 6, 7]

24. Multiply all elements in a list by 2.

In [143]:
l1

[1, 2, 3, 4, 5]

In [148]:
l3 = []
for i in l1:
    l3.append(i*2)
l3

[2, 4, 6, 8, 10]

25. Filter out all even numbers from a list.

In [150]:
l = [12,3,4,5,6,7,8,76,5,4,3,5,6,7,5,4]

In [154]:
l1 = []
for i in l:
    if i%2 == 0:
        l1.append(i)
l1

[12, 4, 6, 8, 76, 4, 6, 4]

26. Convert a list of strings to a list of integers.

In [166]:
l = ["54824","2735678925","5728","27"]

In [167]:
l1 = []
for i in l:
    l1.append(int(i))
l1

[54824, 2735678925, 5728, 27]

27. Convert a list of integers to a list of strings.

In [163]:
l = [54824, 2735678925, 5728, 27]

In [168]:
l1 = []
for i in l:
    l1.append(str(i))
l1

['54824', '2735678925', '5728', '27']

28. Flatten a nested list.

In [169]:
l = [1,2,[3,4],["dfj","sfgjk"]]

In [171]:
l1 = []
for i in l:
    if type(i) == list:
        for j in i:
            l1.append(j)
    else:
        l1.append(i)
l1

[1, 2, 3, 4, 'dfj', 'sfgjk']

29. Create a list of the first 10 Fibonacci numbers.

In [ ]:
1 = 0
while n <=10:
    n = n + n-1
    print(n)
    n = n+1

30. Check if a list is sorted.

In [181]:
l = [12,3,4,5,6,7,8,76,5,4,3,5,6,7,5,4]

In [182]:
l.sort()

In [183]:
l

[3, 3, 4, 4, 4, 5, 5, 5, 5, 6, 6, 7, 7, 8, 12, 76]

31. Rotate a list to the left by `n` positions.

In [189]:
l = [3,4,5,6,7]

In [190]:
str(l)

'[3, 4, 5, 6, 7]'

In [192]:
l1 = l[3:] +l[:3]

In [195]:
#Rotated the list to the left by 3 position
l1

[6, 7, 3, 4, 5]

32. Rotate a list to the right by `n` positions.

In [196]:
l

[3, 4, 5, 6, 7]

In [197]:
str(l)

'[3, 4, 5, 6, 7]'

In [198]:
l1 = l[-2:] + l[:-2]

In [199]:
#Rotated the list to the right by 2 position
l1

[5, 6, 7, 3, 4]

33. Create a list of prime numbers up to 50.

In [ ]:
l1= []
for i in range(1,51):
    if i%i ==
    l1.append

34. Split a list into chunks of size `n`.

In [201]:
l = [12,3,4,5,6,7,8,76,5,4,3,5,6,7,5,4]

In [ ]:
for i in range(,len(l),3):

35. Find the second largest number in a list.

In [217]:
l

[3, 3, 4, 4, 4, 5, 5, 5, 5, 6, 6, 7, 7, 8, 12, 76]

In [218]:
l.sort()

In [219]:
l[-2]

12

36. Replace every element in a list with its square.

In [220]:
l = [1,2,3,4,5]

In [221]:
l1 = []
for i in l:
    l1.append(i**2)
l1

[1, 4, 9, 16, 25]

37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [222]:
l

[1, 2, 3, 4, 5]

In [229]:
d = dict(enumerate(l))

In [230]:
d

{0: 1, 1: 2, 2: 3, 3: 4, 4: 5}

38. Shuffle the elements of a list randomly.

In [240]:
l = [12,3,4,5,6,"sgd", "rish", True]

In [241]:
l

[12, 3, 4, 5, 6, 'sgd', 'rish', True]

39. Create a list of the first 10 factorial numbers.

40. Check if two lists have at least one element in common.

41. Remove all elements from a list.

In [244]:
l = [12,3,4,5,6,"sgd", "rish", True]

In [245]:
l.clear()

In [246]:
l

[]

42. Replace negative numbers in a list with 0.

In [247]:
l = [1,2,-3,-21,45,-56,-87,90,67]

In [248]:
l1 = []
for i in l:
    if i <0:
        l1.append(0)
    else:
        l1.append(i)
l1

[1, 2, 0, 0, 45, 0, 0, 90, 67]

43. Convert a string into a list of words.

In [249]:
s = "I want to be a Data Scientist"

In [251]:
l = s.split(" ")

In [252]:
l

['I', 'want', 'to', 'be', 'a', 'Data', 'Scientist']

44. Convert a list of words into a string.

In [253]:
l = ['I', 'want', 'to', 'be', 'a', 'Data', 'Scientist']

In [261]:
"".join(l)

'IwanttobeaDataScientist'

45. Create a list of the first `n` powers of 2.

In [267]:
l = []
n = int(input("Enter the value of n:"))
for i in range(1,n):
    l.append(2**i)
l

Enter the value of n: 8

[2, 4, 8, 16, 32, 64, 128]

46. Find the longest string in a list of strings.

47. Find the shortest string in a list of strings.

48. Create a list of the first `n` triangular numbers.

In [269]:
l = []
n = int(input("Enter the value of n:"))
for i in range(0,n):
    j = (i+1)*(i/2)
    l.append(j)
l

Enter the value of n: 10

[0.0, 1.0, 3.0, 6.0, 10.0, 15.0, 21.0, 28.0, 36.0, 45.0]

49. Check if a list contains another list as a subsequence.

50. Swap two elements in a list by their indices.

In [271]:
l = [12,3,4,5,6,"sgd", "rish", True]

In [ ]:
l.swap()

Tuple Based Practice Problem :

1. Create a tuple with integers from 1 to 5.

In [86]:
t = tuple(range(1,6))

In [87]:
t

(1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [88]:
t

(1, 2, 3, 4, 5)

In [89]:
t[2]

3

3. Find the length of a tuple without using the `len()` function.

In [90]:
t

(1, 2, 3, 4, 5)

In [11]:
c = 0
for i in t:
    c = c + 1
print(c)

5

4. Count the occurrences of an element in a tuple.

In [18]:
t = (1,2,3,4,5,6,2,3,4,5,6,4,3,45,6,43,3,33,2,2,2)

In [19]:
t.count(2)

5

5. Find the index of the first occurrence of an element in a tuple.

In [20]:
t

(1, 2, 3, 4, 5, 6, 2, 3, 4, 5, 6, 4, 3, 45, 6, 43, 3, 33, 2, 2, 2)

In [21]:
t.index(6)

5

6. Check if an element exists in a tuple.

In [22]:
t

(1, 2, 3, 4, 5, 6, 2, 3, 4, 5, 6, 4, 3, 45, 6, 43, 3, 33, 2, 2, 2)

In [29]:
45 in t

True

7. Convert a tuple to a list.

In [31]:
t

(1, 2, 3, 4, 5, 6, 2, 3, 4, 5, 6, 4, 3, 45, 6, 43, 3, 33, 2, 2, 2)

In [32]:
type(t)

tuple

In [33]:
l = list(t)

In [34]:
l

[1, 2, 3, 4, 5, 6, 2, 3, 4, 5, 6, 4, 3, 45, 6, 43, 3, 33, 2, 2, 2]

In [35]:
type(l)

list

8. Convert a list to a tuple.

In [36]:
l = ["rish", 2,3,4,5,63,True,4+7j]

In [37]:
l

['rish', 2, 3, 4, 5, 63, True, (4+7j)]

In [38]:
type(l)

list

In [40]:
t = tuple(l)

In [41]:
t

('rish', 2, 3, 4, 5, 63, True, (4+7j))

In [43]:
type(t)

tuple

9. Unpack the elements of a tuple into variables.

In [44]:
t

('rish', 2, 3, 4, 5, 63, True, (4+7j))

In [45]:
a,b,c,d,e,f,g,h = t

In [50]:
a

'rish'

In [47]:
b

2

In [48]:
c

3

In [51]:
d

4

In [52]:
e

5

In [53]:
f

63

In [54]:
g

True

In [55]:
h

(4+7j)

10. Create a tuple of even numbers from 1 to 10.

In [59]:
l = []
for i in range(1,11):
    if i %2 == 0:
        l.append(i)
l

[2, 4, 6, 8, 10]

In [60]:
t = tuple(l)

In [61]:
t

(2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [62]:
l = []
for i in range(1,11):
    if i %2 != 0:
        l.append(i)
l

[1, 3, 5, 7, 9]

In [63]:
t = tuple(l)

In [64]:
t

(1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [65]:
t1 = (1,2,3,4,5)
t2 = (4,5,6,7,8)
t1 + t2

(1, 2, 3, 4, 5, 4, 5, 6, 7, 8)

13. Repeat a tuple three times.

In [66]:
t = (1,2,3,4,5)

In [67]:
t*3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

14. Check if a tuple is empty.

In [69]:
t

(1, 2, 3, 4, 5)

In [70]:
() in t

False

15. Create a nested tuple.

In [72]:
t = (1,2,3,4,("rish",True,5,6,7,8,),3,4,52,1)

In [73]:
t

(1, 2, 3, 4, ('rish', True, 5, 6, 7, 8), 3, 4, 52, 1)

16. Access the first element of a nested tuple.

In [74]:
t

(1, 2, 3, 4, ('rish', True, 5, 6, 7, 8), 3, 4, 52, 1)

In [75]:
t[4][0]

'rish'

17. Create a tuple with a single element.

In [80]:
t = (200)

In [81]:
t

200

18. Compare two tuples.

In [82]:
t1 = (1,2,3,4,5)
t2 = (4,5,6,7,8)

In [83]:
t1 in t2

False

19. Delete a tuple.

In [96]:
t1 = (1,2,3,4,5)

We can't delete the tuple as it is immutable

20. Slice a tuple.

In [100]:
t = (1,2,3,4,"rish",True,5,6,7,8,3,4,52,1)

In [105]:
t[1:11:2]

(2, 4, True, 6, 8)

21. Find the maximum value in a tuple.

In [106]:
t = (1,2,3,4,5,6,2,3,4,5,6,4,3,45,6,43,3,33,2,2,2)

In [107]:
max(t)

45

22. Find the minimum value in a tuple.

In [108]:
t

(1, 2, 3, 4, 5, 6, 2, 3, 4, 5, 6, 4, 3, 45, 6, 43, 3, 33, 2, 2, 2)

In [109]:
min(t)

1

23. Convert a string to a tuple of characters.

In [112]:
s = "Data Science"

In [113]:
tuple(s)

('D', 'a', 't', 'a', ' ', 'S', 'c', 'i', 'e', 'n', 'c', 'e')

24. Convert a tuple of characters to a string.

In [119]:
t = ('H','e','l','l','o')

In [120]:
t

('H', 'e', 'l', 'l', 'o')

In [121]:
s = str(t)

In [122]:
s

"('H', 'e', 'l', 'l', 'o')"

25. Create a tuple from multiple data types.

In [123]:
l = [9,8,7,6,5,4,3]
s = "Machine learing"
d = {"k1":"abc","k2":"xyz"}
s1 = {2,3,4,6,3,2,21,2,"eish"}

In [128]:
t1 = tuple(l)
t2 = tuple(s)
t3 = tuple(d)
t4 = tuple(s1)

In [129]:
t1

(9, 8, 7, 6, 5, 4, 3)

In [130]:
t2

('M', 'a', 'c', 'h', 'i', 'n', 'e', ' ', 'l', 'e', 'a', 'r', 'i', 'n', 'g')

In [131]:
t3

('k1', 'k2')

In [132]:
t4

(2, 3, 4, 'eish', 6, 21)

In [133]:
type(t1)

tuple

In [134]:
type(t2)

tuple

In [135]:
type(t3)

tuple

In [136]:
type(t4)

tuple

26. Check if two tuples are identical.

In [143]:
t1 = (1,2,3,4,5)
t2 = (1,2,3,4,5,8)

In [144]:
t1 == t2

False

27. Sort the elements of a tuple.

In [172]:
t = (1,2,3,87,6,54,43,232,2,34,5,32,54,6,87,8,6,5)

In [173]:
tuple(sorted(t))

(1, 2, 2, 3, 5, 5, 6, 6, 6, 8, 32, 34, 43, 54, 54, 87, 87, 232)

28. Convert a tuple of integers to a tuple of strings.

In [183]:
t = (1,2,3,87,6,54,43,232)

In [184]:
l = list(t)
l1 =[]
for i in l:
    l1.append(str(i))
t1 = tuple(l1)
t1

('1', '2', '3', '87', '6', '54', '43', '232')

29. Convert a tuple of strings to a tuple of integers.

In [189]:
t = ('1', '2', '3', '87', '6', '54', '43', '232')

In [190]:
l = list(t)
l1 =[]
for i in l:
    l1.append(int(i))
t1 = tuple(l1)
t1

(1, 2, 3, 87, 6, 54, 43, 232)

30. Merge two tuples.

In [191]:
t1 = (1,2,3,4,5)
t2 = (4,5,6,7,8)

In [192]:
t = t1 + t2

In [193]:
t

(1, 2, 3, 4, 5, 4, 5, 6, 7, 8)

31. Flatten a nested tuple.

In [194]:
t = (1,2,3,4,("rish",True,5,6,7,8,),3,4,52,1)

In [197]:
l = list(t)
l1 =[]
for i in l:
    if type(i) == tuple:
        for j in i:
            l1.append(j)
    else:
        l1.append(i)
t1 = tuple(l1)
t1

(1, 2, 3, 4, 'rish', True, 5, 6, 7, 8, 3, 4, 52, 1)

32. Create a tuple of the first 5 prime numbers.

33. Check if a tuple is a palindrome.

In [201]:
t = "tenet"
if t == t[::-1]:
    print("Palindrome")
else:
    print("Not a pallindrome")

Palindrome

34. Create a tuple of squares of numbers from 1 to 5.

In [204]:
l = []
for i in range(1,6):
    l.append(i**2)
t = tuple(l)
t

(1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [205]:
t = (1,2,3,87,6,54,43,232,2,34,5,32,54,6,87,8,6,5)

In [207]:
l = list(t)
l1 = []
for i in l:
    if i%2 ==0:
        l1.append(i)
t1 = tuple(l1)
t1

(2, 6, 54, 232, 2, 34, 32, 54, 6, 8, 6)

36. Multiply all elements in a tuple by 2.

In [208]:
t = (1,2,3,4,5,6)

In [209]:
l = list(t)
l1 = []
for i in l:
    l1.append(i*2)
t1 = tuple(l1)
t1

(2, 4, 6, 8, 10, 12)

37. Create a tuple of random numbers.

38. Check if a tuple is sorted.

In [210]:
t = (1,2,3,87,6,54,43,232,2,34,5,32,54,6,87,8,6,5)

In [211]:
t == tuple(sorted(t))

False

39. Rotate a tuple to the left by `n` positions.

In [212]:
t = (6,5,4,7,3,8,2,9,1)

In [216]:
t1 = t[4:] + t[:4]

In [218]:
#Rotated the list to the left by 3 position
t1

(3, 8, 2, 9, 1, 6, 5, 4, 7)

40. Rotate a tuple to the right by `n` positions.

In [219]:
t = (6,5,4,7,3,8,2,9,1)

In [220]:
t1 = t[-3:] + t[:-3]

In [221]:
#Rotated the list to the right by 3 position
t1

(2, 9, 1, 6, 5, 4, 7, 3, 8)

41. Create a tuple of the first 5 Fibonacci numbers.

42. Create a tuple from user input.

In [234]:
a = int(input("Enter the 1st value for tuple:"))
b = int(input("Enter the 2nd value for tuple:"))
c = int(input("Enter the 3rd value for tuple:"))
d = int(input("Enter the 4th value for tuple:"))
e = int(input("Enter the 5th value for tuple:"))
t = (a,b,c,d,e)
t

Enter the 1st value for tuple: 2
Enter the 2nd value for tuple: 4
Enter the 3rd value for tuple: 5
Enter the 4th value for tuple: 6
Enter the 5th value for tuple: 98

(2, 4, 5, 6, 98)

43. Swap two elements in a tuple.

In [235]:
t

(2, 4, 5, 6, 98)

In [236]:
list(t)

[2, 4, 5, 6, 98]

44. Reverse the elements of a tuple.

In [237]:
t

(2, 4, 5, 6, 98)

In [238]:
t[::-1]

(98, 6, 5, 4, 2)

45. Create a tuple of the first `n` powers of 2.

In [243]:
l = []
n = int(input("Enter your desirable range:"))
for i in range(1,n+1):
    l.append(2**i)
t = tuple(l)
t

Enter your desirable range: 8

(2, 4, 8, 16, 32, 64, 128, 256)

46. Find the longest string in a tuple of strings.

In [245]:
t = ("rdhj","hdfhsg",765,43,123,"dfgdkgjndf","hkj",True)

In [260]:
l = []
for i in t:
    if type(i) == str:
        l.append(i)
s = str(l)

47. Find the shortest string in a tuple of strings.

48. Create a tuple of the first `n` triangular numbers.

In [267]:
l = []
n = int(input("Enter the range:"))
for i in range(1,n):
    j = (i+1)*(i/2)
    l.append(j)
t = tuple(l)
t

Enter the range: 10

(1.0, 3.0, 6.0, 10.0, 15.0, 21.0, 28.0, 36.0, 45.0)

49. Check if a tuple contains another tuple as a subsequence.

50. Create a tuple of alternating 1s and 0s of length `n`.

In [271]:
l = []
n = int(input("Enter your range:"))
for i in range(1,n):
    if i%2 != 0:
        l.append(0)
    else:
        l.append(1)
t = tuple(l)
t

Enter your range: 15

(0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

Set Based Practice Problem :

1. Create a set with integers from 1 to 5.

In [4]:
s = set(range(1,6))

In [5]:
s

{1, 2, 3, 4, 5}

2. Add an element to a set.

In [6]:
s

{1, 2, 3, 4, 5}

In [7]:
s.add(67)

In [8]:
s

{1, 2, 3, 4, 5, 67}

3. Remove an element from a set.

In [9]:
s.pop()

1

In [10]:
s

{2, 3, 4, 5, 67}

4. Check if an element exists in a set.

In [12]:
s

{2, 3, 4, 5, 67}

In [11]:
67 in s

True

5. Find the length of a set without using the `len()` function.

In [13]:
s

{2, 3, 4, 5, 67}

In [15]:
l = list(s)

In [16]:
count = 0
for i in l:
    count = count +1
print("Length of given set",s,"is: ", count)

Length of given set {2, 3, 4, 5, 67} is:  5

6. Clear all elements from a set.

In [17]:
s

{2, 3, 4, 5, 67}

In [18]:
s.clear()

In [19]:
s

set()

7. Create a set of even numbers from 1 to 10.

In [20]:
l = []
for i in range(1,11):
    if i%2 == 0:
        l.append(i)
s = set(l)
s

{2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [21]:
l = []
for i in range(1,11):
    if i%2 != 0:
        l.append(i)
s = set(l)
s

{1, 3, 5, 7, 9}

9. Find the union of two sets.

In [22]:
s1 = {1,2,3,4,5}
s2 = {3,4,5,6,7}

In [23]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7}

10. Find the intersection of two sets.

In [26]:
s1 = {1,2,3,4,5}
s2 = {3,4,5,6,7}

In [27]:
s1.intersection(s2)

{3, 4, 5}

11. Find the difference between two sets.

In [29]:
s1 = {1,2,3,4,5}
s2 = {3,4,5,6,7}

In [30]:
s1.union(s2) - s1.intersection(s2)

{1, 2, 6, 7}

12. Check if a set is a subset of another set.

In [31]:
s1 = {1,2,3,4,5}
s2 = {3,4}

In [32]:
s2.issubset(s1)

True

13. Check if a set is a superset of another set.

In [33]:
s1 = {1,2,3,4,5}
s2 = {3,4}

In [34]:
s1.issuperset(s2)

True

14. Create a set from a list.

In [35]:
l = [9,8,7,6,5,4]

In [36]:
l

[9, 8, 7, 6, 5, 4]

In [37]:
type(l)

list

In [38]:
s = set(l)

In [39]:
s

{4, 5, 6, 7, 8, 9}

In [40]:
type(s)

set

15. Convert a set to a list.

In [41]:
s

{4, 5, 6, 7, 8, 9}

In [42]:
type(s)

set

In [44]:
l = list(s)

In [45]:
l

[4, 5, 6, 7, 8, 9]

In [46]:
type(l)

list

16. Remove a random element from a set.

In [50]:
s = {2,3,4,5,6,7,5,4,3,2,989,2,"rish", "singh"}

In [51]:
s

{2, 3, 4, 5, 6, 7, 989, 'rish', 'singh'}

In [52]:
s.remove(989)

In [53]:
s

{2, 3, 4, 5, 6, 7, 'rish', 'singh'}

17. Pop an element from a set.

In [54]:
s

{2, 3, 4, 5, 6, 7, 'rish', 'singh'}

In [55]:
s.pop()

2

In [56]:
s

{3, 4, 5, 6, 7, 'rish', 'singh'}

18. Check if two sets have no elements in common.

In [57]:
s1 = {1,2,3,4,5,"rish"}
s2 = {7,8,9,66,"singh"}

In [61]:
s1

{1, 2, 3, 4, 5, 'rish'}

In [62]:
s2

{66, 7, 8, 9, 'singh'}

In [63]:
s1.intersection(s2)

set()

19. Find the symmetric difference between two sets.

In [71]:
s1 = {1,2,3,4,5,"rish"}
s2 = {7,8,9,66,"singh"}

In [72]:
s1.symmetric_difference(s2)

{1, 2, 3, 4, 5, 66, 7, 8, 9, 'rish', 'singh'}

20. Update a set with elements from another set.

In [82]:
s1 = {1,2,3,4,5,"rish"}
s2 = {7,8,9,66,"singh"}

In [83]:
s1

{1, 2, 3, 4, 5, 'rish'}

In [84]:
s2

{66, 7, 8, 9, 'singh'}

In [85]:
s1.update(s2)

In [86]:
s1

{1, 2, 3, 4, 5, 66, 7, 8, 9, 'rish', 'singh'}

21. Create a set of the first 5 prime numbers.

22. Check if two sets are identical.

In [87]:
s1 = {1,2,3,4,5,"rish"}
s2 = {1,2,3,4,5,"rish"}

In [90]:
s1 == s2

True

23. Create a frozen set.

In [92]:
s = {2,3,4,5,6,7,5,4,3,2,989,2,"rish", "singh"}

In [93]:
s

{2, 3, 4, 5, 6, 7, 989, 'rish', 'singh'}

In [96]:
s1 = frozenset(s)

In [97]:
s1

frozenset({2, 3, 4, 5, 6, 7, 989, 'rish', 'singh'})

In [99]:
s1.pop()

AttributeError: 'frozenset' object has no attribute 'pop'

24. Check if a set is disjoint with another set.

In [102]:
s1 = {1,2,3,4,5,"rish"}
s2 = {7,8,9,66,"singh"}

In [103]:
s1.isdisjoint(s2)

True

25. Create a set of squares of numbers from 1 to 5.

In [104]:
l = []
for i in range(1,6):
    l.append(i**2)
s = set(l)
s

{1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [113]:
s = {2,3,4,5,6,7,5,4,3,2,989,2,6,8,7,5,4,24,78,"rish", "singh"}

In [114]:
s

{2, 24, 3, 4, 5, 6, 7, 78, 8, 989, 'rish', 'singh'}

In [115]:
l = list(s)
l1 = []
for i in l:
    if type(i) == int:
        if i%2 == 0:
            l1.append(i)
        else:
            pass
    else:
        pass
s1 = set(l1)
s1

{2, 4, 6, 8, 24, 78}

27. Multiply all elements in a set by 2.

In [116]:
s = {1,2,3,4,5}

In [119]:
s

{1, 2, 3, 4, 5}

In [120]:
l = list(s)
l1 = []
for i in l:
    l1.append(i*2)
s1 = set(l1)
s1

{2, 4, 6, 8, 10}

28. Create a set of random numbers.

In [121]:
s = {1,2,43,5,7,8,654,3,21,45,7,8765,43,2}

In [122]:
s

{1, 2, 3, 5, 7, 8, 21, 43, 45, 654, 8765}

29. Check if a set is empty.

In [134]:
s1 = {1,2,43,5,7,8,654,3,21,45,7,8765,43,2}

In [135]:
s1

{1, 2, 3, 5, 7, 8, 21, 43, 45, 654, 8765}

In [136]:
set() in s1

False

30. Create a nested set (hint: use frozenset).

In [140]:
s1 = {1,2,3,4,5,"rish"}
s2 = {7,8,9,66,"singh"}

In [141]:
s3 = frozenset(s1)
s4 = frozenset(s2)

In [144]:
s = {s3,s4}

In [145]:
s

{frozenset({66, 7, 8, 9, 'singh'}), frozenset({1, 2, 3, 4, 5, 'rish'})}

31. Remove an element from a set using the discard method.

In [146]:
s1 = {1,2,3,4,5,"rish"}

In [147]:
s1.discard("rish")

In [148]:
s1

{1, 2, 3, 4, 5}

32. Compare two sets.

In [149]:
s1 = {1,2,3,4,5,"rish"}
s2 = {7,8,9,66,"singh"}

In [150]:
s1 == s2

False

In [151]:
s3 = {3,4,5,6,7}
s4 = {3,4,5,6,7}

In [152]:
s3 == s4

True

33. Create a set from a string.

In [153]:
s = "My name is Rishabh"
s1 = set(s)

In [154]:
s1

{' ', 'M', 'R', 'a', 'b', 'e', 'h', 'i', 'm', 'n', 's', 'y'}

In [155]:
type(s1)

set

34. Convert a set of strings to a set of integers.

In [3]:
s = "2,3,4,32,5,6,77,6,6,5,75,43,24,89,97"

In [4]:
s

'2,3,4,32,5,6,77,6,6,5,75,43,24,89,97'

In [7]:
s1 = set(s)

In [8]:
s1

{',', '2', '3', '4', '5', '6', '7', '8', '9'}

In [10]:
s1.discard(",")

In [11]:
s1

{'2', '3', '4', '5', '6', '7', '8', '9'}

In [12]:
l = list(s1)
l1 = []
for i in l:
    l1.append(int(i))
s2 = set(l1)
s2

{2, 3, 4, 5, 6, 7, 8, 9}

35. Convert a set of integers to a set of strings.

In [16]:
s2

{2, 3, 4, 5, 6, 7, 8, 9}

In [17]:
l = list(s2)
l1 = []
for i in l:
    l1.append(str(i))
s = set(l1)
s

{'2', '3', '4', '5', '6', '7', '8', '9'}

36. Create a set from a tuple.

In [19]:
t = (9,8,7,"rish",True,7+8j,3.5)

In [20]:
t

(9, 8, 7, 'rish', True, (7+8j), 3.5)

In [21]:
type(t)

tuple

In [22]:
s = set(t)

In [23]:
s

{(7+8j), 3.5, 7, 8, 9, True, 'rish'}

In [24]:
type(s)

set

37. Convert a set to a tuple.

In [25]:
s

{(7+8j), 3.5, 7, 8, 9, True, 'rish'}

In [26]:
type(s)

set

In [27]:
t = tuple(s)

In [28]:
t

(True, 3.5, 7, 8, 9, 'rish', (7+8j))

In [29]:
type(t)

tuple

38. Find the maximum value in a set.

In [31]:
s = {1,76,54,38,98,23,654,765,382,987,6,54}

In [32]:
s

{1, 6, 23, 38, 54, 76, 98, 382, 654, 765, 987}

In [33]:
max(s)

987

39. Find the minimum value in a set.

In [34]:
s

{1, 6, 23, 38, 54, 76, 98, 382, 654, 765, 987}

In [35]:
min(s)

1

40. Create a set from user input.

In [36]:
a = int(input("Enter the 1st value for set:"))
b = int(input("Enter the 2nd value for set:"))
c = int(input("Enter the 3rd value for set:"))
d = int(input("Enter the 4th value for set:"))
e = int(input("Enter the 5th value for set:"))
s = {a,b,c,d,e}
s

Enter the 1st value for set: 54
Enter the 2nd value for set: 78
Enter the 3rd value for set: 96
Enter the 4th value for set: 32
Enter the 5th value for set: 71

{32, 54, 71, 78, 96}

41. Check if the intersection of two sets is empty.

In [37]:
s1 = {1,2,3,4,5,"rish"}
s2 = {7,8,9,66,"singh"}

In [43]:
s1.intersection(s2) == set()

True

42. Create a set of the first 5 Fibonacci numbers.

43. Remove duplicates from a list using sets.

In [49]:
l = [1,3,3,4,5,6,7,6,5,4,2,3,4,6,7,5,3,2,1,3]

In [50]:
l

[1, 3, 3, 4, 5, 6, 7, 6, 5, 4, 2, 3, 4, 6, 7, 5, 3, 2, 1, 3]

In [52]:
s = set(l)

In [53]:
s

{1, 2, 3, 4, 5, 6, 7}

In [54]:
l1 = list(s)

In [55]:
l1

[1, 2, 3, 4, 5, 6, 7]

44. Check if two sets have the same elements, regardless of their count.

In [68]:
s1 = {1,2,3,4,5,"rish"}
s2 = {7,8,9,66,"singh"}

In [69]:
s1.intersection(s2)

set()

In [60]:
s3 = {4,5,"rish"}

In [70]:
s1.intersection(s3)

{4, 5, 'rish'}

45. Create a set of the first `n` powers of 2.

In [63]:
l = []
n = int(input("Enter your desired range:"))
for i in range(1, n+1):
    l.append(2**i)
s = set(l)
s

Enter your desired range: 6

{2, 4, 8, 16, 32, 64}

46. Find the common elements between a set and a list.

In [71]:
s = {1,2,3,4,5,6}
l = [3,4,5,6,7,8,9]

In [72]:
s1 = set(l)

In [73]:
s.intersection(s1)

{3, 4, 5, 6}

47. Create a set of the first `n` triangular numbers.

In [74]:
l = []
n = int(input("Enter your desired range: "))
for i in range(1,n+1):
    j = (i+1)*(i/2)
    l.append(j)
s = set(l)
s

Enter your desired range:  10

{1.0, 3.0, 6.0, 10.0, 15.0, 21.0, 28.0, 36.0, 45.0, 55.0}

48. Check if a set contains another set as a subset.

In [75]:
s1 = {1,2,3,4,5,6}
s2 = {3,4}

In [78]:
s1.issuperset(s2)

True

49. Create a set of alternating 1s and 0s of length `n`.

In [83]:
l = []
n = int(input("Enter your desired length: "))
for i in range(0,n+1):
    if i%2 != 0:
        print(0)
    else:
        print(1)

Enter your desired length:  10

1
0
1
0
1
0
1
0
1
0
1

50. Merge multiple sets into one.

In [85]:
s1 = {1,2,3,4,5}
s2 = {9,8,7,6,5}
s3 = {"rish","singh","Data","Scientist"}

In [86]:
s1

{1, 2, 3, 4, 5}

In [87]:
s2

{5, 6, 7, 8, 9}

In [88]:
s3

{'Data', 'Scientist', 'rish', 'singh'}

In [89]:
s1.update(s2,s3)

In [90]:
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 'Data', 'Scientist', 'rish', 'singh'}