Basic Level:

1. Write a Python program to print the numbers from 1 to 10 using a `for` loop.

In [1]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

2. Create a program that calculates the sum of all numbers in a list using a `for` loop.

In [2]:
l = [1,2,3,4,5,6]
sum = 0
for i in l:
    sum = sum + i
print(sum)

21

3. Write a program to print the characters of a string in reverse order using a `for` loop.

In [5]:
s = "Data Science"
for i in s[::-1]:
    print(i)

e
c
n
e
i
c
S

a
t
a
D

4. Develop a program that finds the factorial of a given number using a `for` loop.

In [15]:
n = int(input("Enter the number: "))
fac = 1
for i in range(1,n+1):
    fac = fac*(i)
print(fac)

Enter the number:  5

120

5. Create a program to print the multiplication table of a given number using a `for` loop.

In [21]:
n = int(input("Enter the number: "))
mul = 1
for i in range(1,11):
    mul = n * i
    print(n,"*",i," is equal to ",mul)

Enter the number:  19

19 * 1  is equal to  19
19 * 2  is equal to  38
19 * 3  is equal to  57
19 * 4  is equal to  76
19 * 5  is equal to  95
19 * 6  is equal to  114
19 * 7  is equal to  133
19 * 8  is equal to  152
19 * 9  is equal to  171
19 * 10  is equal to  190

6. Write a program that counts the number of even and odd numbers in a list using a `for` loop.

In [23]:
l = [1,2,3,4,5,47,6,5,4]
count_even = 0
count_odd = 0
for i in l:
    if i%2 == 0:
        count_even = count_even + 1
    else:
        count_odd = count_odd + 1
print("Count of even numbers in the given list ", l,"is: ", count_even)
print("Count of odd numbers in the given list ", l,"is: ", count_odd)

Count of even numbers in the given list  [1, 2, 3, 4, 5, 47, 6, 5, 4] is:  4
Count of odd numbers in the given list  [1, 2, 3, 4, 5, 47, 6, 5, 4] is:  5

7. Develop a program that prints the squares of numbers from 1 to 5 using a `for` loop.

In [24]:
for i in range(1,6):
    print(i**2)

1
4
9
16
25

8. Create a program to find the length of a string without using the `len()` function.

In [27]:
s = "Full Stack Data Science Pro"
count = 0
for i in s:
    count = count + 1
print("The length of the given string ",s, "is: ",count)

The length of the given string  Full Stack Data Science Pro is:  27

9. Write a program that calculates the average of a list of numbers using a `for` loop.

In [29]:
l = [1,2,3,4,5,6]
sum = 0
count = 0
for i in l:
    sum = sum + i
    count = count + 1
avg = sum/count
print("The average of the given list ", l, "is:", avg)

The average of the given list  [1, 2, 3, 4, 5, 6] is: 3.5

10. Develop a program that prints the first `n` Fibonacci numbers using a `for` loop.

In [39]:
n = n = int(input("Enter the range:"))
a = 0
b = 1
print(a)
print(b)
for i in range(1,n+1):
    c = a + b
    print(c)
    a = b
    b = c

Enter the range: 11

0
1
1
2
3
5
8
13
21
34
55
89
144

Intermediate Level:

11. Write a program to check if a given list contains any duplicates using a `for` loop.

In [27]:
n = int(input("Enter the number upto which you want to print all the prime number: :"))
for i in range(1,n+1):
    flag = 0
    for j in range(2,i):
        if i%j == 0:
            flag = 1
    if flag == 0:
        print(i, end = " ")

Enter the number upto which you want to print all the prime number: : 78

1 2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73

13. Develop a program that counts the number of vowels in a string using a `for` loop.

In [28]:
s = "Full Stack Data Science Pro"
count = 0
x = ["a","e","i","o","u"]
for i in s:
    if i in x:
        count = count + 1
print("Number of vowels in given string ", s, "is: ", count)

Number of vowels in given string  Full Stack Data Science Pro is:  8

14. Write a program to find the maximum element in a 2D list using a nested `for` loop.

In [31]:
l = [1,2,3,[7,6,56,43,89,784,32],90,87,65,435]
l1 = []
for i in l:
    if type(i) == list:
        for j in i:
            l1.append(j)
    else:
        l1.append(i)
max(l1)

784

15. Create a program that removes all occurrences of a specific element from a list using a `for` loop.

In [33]:
l = [4,1,2,3,5,4,6,8,9,4,9,6,5,4,3,2,1,4,3,5,7,4,3,2,4]
for i in l:
    if i == 4:
        l.remove(i)
print(l)

[1, 2, 3, 5, 6, 8, 9, 9, 6, 5, 3, 2, 1, 3, 5, 7, 3, 2]

16. Develop a program that generates a multiplication table for numbers from 1 to 5 using a nested `for` loop.

In [37]:
for i in range(1,6):
    for j in range(1,11):
        print(i,"*",j," is equal to ",j*i)

1 * 1  is equal to  1
1 * 2  is equal to  2
1 * 3  is equal to  3
1 * 4  is equal to  4
1 * 5  is equal to  5
1 * 6  is equal to  6
1 * 7  is equal to  7
1 * 8  is equal to  8
1 * 9  is equal to  9
1 * 10  is equal to  10
2 * 1  is equal to  2
2 * 2  is equal to  4
2 * 3  is equal to  6
2 * 4  is equal to  8
2 * 5  is equal to  10
2 * 6  is equal to  12
2 * 7  is equal to  14
2 * 8  is equal to  16
2 * 9  is equal to  18
2 * 10  is equal to  20
3 * 1  is equal to  3
3 * 2  is equal to  6
3 * 3  is equal to  9
3 * 4  is equal to  12
3 * 5  is equal to  15
3 * 6  is equal to  18
3 * 7  is equal to  21
3 * 8  is equal to  24
3 * 9  is equal to  27
3 * 10  is equal to  30
4 * 1  is equal to  4
4 * 2  is equal to  8
4 * 3  is equal to  12
4 * 4  is equal to  16
4 * 5  is equal to  20
4 * 6  is equal to  24
4 * 7  is equal to  28
4 * 8  is equal to  32
4 * 9  is equal to  36
4 * 10  is equal to  40
5 * 1  is equal to  5
5 * 2  is equal to  10
5 * 3  is equal to  15
5 * 4  is equal to  20
5 * 5  is equal to  25
5 * 6  is equal to  30
5 * 7  is equal to  35
5 * 8  is equal to  40
5 * 9  is equal to  45
5 * 10  is equal to  50

17. Write a program that converts a list of Fahrenheit temperatures to Celsius using a `for` loop.

In [38]:
c = int(input("Enter the temperature in Celcius: "))
f = (c * (9/5)) + 32
print("The temerature in Fahrenheit will be: ", f)

Enter the temperature in Celcius:  24

The temerature in Fahrenheit will be:  75.2

18. Create a program to print the common elements from two lists using a `for` loop.

In [42]:
l1 = [1,2,3,4,5,6]
l2 = [4,5,6,7,8,9]
l = []
for i in l1:
    if i in l2:
        l.append(i)
print("The common elements between two lists are: ", l)

The common elements between two lists are:  [4, 5, 6]

19. Develop a program that prints the pattern of right-angled triangles using a `for` loop. Use ‘*’ to draw the
pattern

In [69]:
for i in range(1, 6):
    for j in range(i):
        print("*", end = " ")
    print()

*
* *
* * *
* * * *
* * * * *

20. Write a program to find the greatest common divisor (GCD) of two numbers using a `for` loop.